

<div class="cocktails-header d-flex justify-content-space-around">
<%= image_tag "Bar_Code.png", alt: "logo", width:70, height: 50 %>
    <%= link_to "Add cocktail", new_cocktail_path %>
</div>

<div class="main-cocktails">
    <ul class="main-cocktails-list">
        <% @cocktails.each do |cocktail| %>
        <li>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </li>
        <% end %>
    </ul>
</div>

