<h1>My Cocktails</h1>

<div class="main-cocktails">
    <ul class="main-cocktails-list">
        <% @cocktails.each do |cocktail| %>
        <li>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </li>
        <% end %>
    </ul>
</div>

<%= link_to "Add cocktail", new_cocktail_path %>