
    <div class="container d-flex justify-content-space-between">
        <div class="cocktails-card">
            <% @cocktails.each do |cocktail| %>
                <%= link_to  cocktail_path(cocktail) do %>
                    <div class="card">
                        <p><%= cocktail.name %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

