
    <div class="container ">
        <div class="cocktails-card d-flex justify-content-space-between">
            <% @cocktails.each do |cocktail| %>
                <%= link_to cocktail_path(cocktail) do %>
                    <div class="card">
                        <p class="cocktail-name"><%= cocktail.name %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

