
    <div class="container-cards d-flex justify-content-space-between">
        <div class="cocktails-card">
            <% @cocktails.each do |cocktail| %>
                <div class="card">
            
                </div>
                    <%= link_to cocktail.name, cocktail_path(cocktail) %>

                <div class="card-item">
                </div>
            <% end %>
        </div>
    </div>

