<%= render 'pages/header' %>

<div class="container">
<h1><%= @cocktail.name.capitalize %></h1>


<%= link_to "back", cocktails_path %>
<%= link_to "delete", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure? " } %>

</div>