<div class="cocktails-header d-flex justify-content-space-around flex-row">
  <div class="cocktail-header-nav">
    <%= link_to root_path do %>
      <%= image_tag "cocktail.png", alt: "logo", width:70, height: 50 %>
    <%end %>
      <%= link_to "Add cocktail", new_cocktail_path %>
  </div>
</div>