
<%= render 'pages/header' %>
<div class="cocktails-banner" style="background-image:url(<%= asset_url('pexels-picography-4784.jpg')%>)">
  <div class="container-banner" >
    <h1 class="slogan">Good Sip for Good Moments</h1>
    <%= link_to "View All Cocktails", cocktails_path, class:'btn btn-warning' %>
  </div>
</div>
