.card {
  height: 250px;
  width:250px;
  padding: 8px 12px;
  margin: 12px 24px;
  border-radius: 8px;
  justify-content: space-between;
  align-content: flex-start;

  display: flex;
}

.card-name {
   
}