// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktails-card{
  flex-direction: row;
  flex-wrap: wrap;
  padding: 36px 36px;
  margin: 0;
}

.cocktail-name {
  color: rgb(249, 249, 250);
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 1px 2px 3px rgba(0,0,0,.1);

}
