// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cocktail-banner {
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
}